<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
      <form class="form-horizontal" role="form" method="post">
          
          <legend>新增 log data</legend>
              <div class="form-group">
                  <label class="col-md-2 control-label" for="leveltype">level</label>
                  <div class="col-md-4 controls">
                      <select name="leveltype" class="input-xlarge" data-size="5">
                          <option value="ANALYSIS">ANALYSIS</option>
                          <option value="info">info</option>
                          <option value="warn">warn</option>
                          <option value="error">error</option>
                          <option value="fatal">fatal</option>
                      </select>
                  </div>

              </div>

              <div class="form-group">
                  <label class="col-md-2 control-label" for="timestamp">timestamp</label>
                  <div class="col-md-6 controls">
                      <input type="text" class="input-xlarge" id="timestamp" name="timestamp">
                      ex:2014-04-25
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-md-2 control-label" for="msg">message</label>
                  <div class="col-md-2 controls">
                      <input type="text" class="input-xlarge" id="msg" name="msg">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-md-2 control-label" for="clientip">ip</label>
                  <div class="col-md-2 controls">
                      <input type="text" class="input-xlarge" id="clientip" name="clientip">
                  </div>
                  <p></p>
              </div>

              <div class="col-md-offset-2 form-actions">
                  <button type="submit" class="btn btn-primary">送出</button>
              </div>
          
      </form>
<!--這一段是存在的-->
<% if (locals.messages) { %>
<% messages.forEach(function(message) { %>
<p class='<%= message.type %>'><%= message.string %></p>
<% }) %>
<% removeMessages() %>
<% } %>

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－<br>

        <p></p>
<% if (resp) { %>
<h3>儲存完成</h3>
    <p>Level : <%= resp.level %></p>
    <p>Timestamp : <%= resp.timestamp %></p>
    <p>_id : <%= resp._id %></p>
    <p>Log Message : <%= resp.message %></p>
    <p>Client ip : <%= resp.host.ip %></p>
<% } else { %>
   <h3></h3>
<% } %>
  </body>
</html>
